@font-face {
  font-family: "Arial";
  src: url("/fonts/ofont.ru_Arial.ttf") format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.ttf") format(truetype);
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
  max-width: 1330px;
  height: 696px;
  display: flex;
  gap: 538.5px;
  background-image: url("/images/banner.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__logo {
  padding-top: 53px;
}
.header__menu {
  padding-top: 71px;
}
.header__menu ul {
  display: flex;
  gap: 33px;
}
.header__menu a {
  position: relative;
  color: #FFFFFF;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.header__menu a:hover:before {
  transform: scaleX(1);
  transition: 0.25s;
}
.header__menu a:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scale(0);
}
.header__title {
  position: absolute;
  left: 80px;
}
.header__title h2 {
  padding-top: 223px;
  color: #000000;
  font-family: Oswald;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}
.header__title h3 {
  padding-top: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.header__title .header__button {
  padding-top: 52px;
}
.header__title button {
  width: 244px;
  height: 54px;
  border: none;
  background-color: #68B738;
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.header__title button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.header__picture {
  position: absolute;
  top: 143px;
  left: 448px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  header {
    width: 768px;
    margin: 0 auto;
  }
  .header {
    width: 709px;
    margin: 0 auto;
    display: flex;
    gap: 94.5px;
    background-image: none;
  }
  .header__menu ul {
    display: flex;
    gap: 35px;
  }
  .header__menu a {
    position: relative;
    color: #000000;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
  .header__menu a:hover:before {
    transform: scaleX(1);
    transition: 0.25s;
  }
  .header__menu a:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #68B738;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scale(0);
  }
  .header .li2 {
    width: 154px;
  }
  .header .li3 {
    width: 153px;
  }
}
.first__section {
  max-width: 1440px;
  height: 820px;
  padding-top: 82px;
  margin: 0 auto;
}

.first__container {
  position: relative;
  width: 1220px;
  height: 820px;
  margin: 0 auto;
}
.first__container .first__row {
  display: flex;
  gap: 80px;
}
.first__container .card {
  width: 570px;
  height: 374px;
  background-color: #F2F2F2;
}
.first__container .card__title {
  display: flex;
  gap: 62px;
}
.first__container .card__circle {
  margin-top: 47px;
  margin-left: 52px;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: #68B738;
}
.first__container .card__title p {
  padding-top: 77px;
  color: #000000;
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.first__container .card__cat1 {
  position: absolute;
  padding-top: 41px;
  padding-left: 67px;
}
.first__container .card__cat2 {
  position: absolute;
  padding-top: 67px;
  padding-left: 683px;
}
.first__container .card h4 {
  padding-top: 39px;
  padding-left: 52px;
  color: #000000;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.first__container .card__slide {
  display: flex;
  gap: 26px;
}
.first__container .card__slide p {
  padding-top: 27px;
  padding-left: 52px;
  color: #000000;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.first__container .card__slide img {
  padding-top: 27px;
  cursor: pointer;
}

.first__container h3 {
  padding-top: 71px;
  color: #000000;
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.second__row {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.second__card {
  width: 230px;
  height: 280px;
}
.second__card .second__square {
  align-items: center;
  margin-top: 40px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: green;
}
.second__card p {
  z-index: 2;
  position: absolute;
  padding-top: 31px;
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.second__card .second__square_icon {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.second__card4 {
  width: 246px;
  height: 280px;
}
.second__card4 .second__square {
  margin-top: 40px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: green;
}
.second__card4 p {
  position: absolute;
  z-index: 2;
  padding-top: 31px;
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.second__card4 .second__square_icon {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.first {
  position: absolute;
  z-index: 1;
  top: 577px;
  left: 128px;
}

.second {
  position: absolute;
  z-index: 1;
  top: 577px;
  left: 442px;
}

.third {
  position: absolute;
  z-index: 1;
  top: 577px;
  left: 767px;
}

.forth {
  position: absolute;
  z-index: 1;
  top: 577px;
  left: 1098px;
}

.second__section {
  max-width: 1440px;
  height: 1056px;
  margin: 0 auto;
  padding-top: 11px;
}

.second__container {
  max-width: 1440px;
  height: 656px;
  margin: 0 auto;
}

.second__division {
  width: 1220px;
  margin: 0 auto;
}

.second__division h3 {
  padding-top: 113px;
  color: #000000;
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.extra__section {
  margin-top: 76px;
  max-width: 1440px;
  height: 462px;
  background-color: #F2F2F2;
}

.second__division2 {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  height: 462px;
  background-color: #F2F2F2;
}

.second__division2 p {
  padding-top: 70px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}

.borders {
  display: flex;
  gap: 42px;
  padding-top: 69px;
}

.first__border, .second__border {
  width: 162px;
  height: 77px;
  border-radius: 5px;
  border: 1px solid #CDCDCD;
}

.first__border h3, .second__border h3 {
  padding-top: 15px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.border__card {
  position: absolute;
  top: 305px;
  left: 23px;
  width: 117px;
  height: 14px;
  background-color: #F2F2F2;
}

.border__card2 {
  position: absolute;
  top: 305px;
  left: 218px;
  width: 135px;
  height: 14px;
  background-color: #F2F2F2;
}

.border__card p {
  width: 97px;
  position: absolute;
  top: -72px;
  left: 10px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.border__card2 p {
  position: absolute;
  top: -72px;
  left: 5px;
  width: 127px;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.second__division_title {
  display: flex;
  gap: 63px;
}

.second__division_title p {
  color: #000000;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.map {
  width: 1440px;
  height: 400px;
  background-image: url("/images/Rectangle 16.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  width: 1440px;
  height: 149px;
  background-color: #F2F2F2;
  margin: 0 auto;
}

.footer__container {
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  padding-top: 63px;
}

.footer__social_media {
  padding-top: 60px;
  display: flex;
  gap: 25px;
}

.footer__social_media img {
  cursor: pointer;
}

.footer__title {
  display: flex;
  gap: 22px;
}

.footer__title p {
  padding-top: 65px;
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
}

.footer__title img {
  padding-top: 59px;
}

.catalog .catalog__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 570px));
  gap: 80px;
}
@media (max-width: 1260px) {
  .catalog .catalog__row {
    justify-content: center;
  }
}
.catalog .catalog__row .catalog__card {
  padding: 52px;
  background-color: #f2f2f2;
}
.catalog .catalog__row .catalog__card .catalog__head {
  display: flex;
  align-items: center;
  gap: 62px;
}
.catalog .catalog__row .catalog__card .catalog__head .catalog__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #68b738;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog .catalog__row .catalog__card .catalog__head .catalog__title {
  font-size: 36px;
  line-height: 36px; /* 100% */
  text-transform: uppercase;
}
.catalog .catalog__row .catalog__card .catalog__desc {
  margin-top: 39px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.catalog .catalog__row .catalog__card .catalog__link {
  margin-top: 24px;
}
.catalog .catalog__row .catalog__card .catalog__link a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.catalog .catalog__tablet {
  display: none;
}

@media (max-width: 768px) {
  .catalog .catalog__row {
    display: none;
  }
  .catalog .catalog__tablet {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
  }
  .catalog .catalog__tablet .catalog__card {
    padding: 52px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
  }
  .catalog .catalog__tablet .catalog__card .catalog__left .catalog__title {
    font-size: 36px;
    line-height: 36px; /* 100% */
    text-transform: uppercase;
  }
  .catalog .catalog__tablet .catalog__card .catalog__left .catalog__desc {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .catalog .catalog__tablet .catalog__card .catalog__left .catalog__link {
    margin-top: 52px;
  }
  .catalog .catalog__tablet .catalog__card .catalog__left .catalog__link a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .catalog .catalog__tablet .catalog__card .catalog__right .catalog__circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .catalog .catalog__tablet .catalog__card .catalog__right .catalog__circle img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  .catalog .catalog__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 570px));
  }
  .catalog .catalog__row .catalog__card {
    padding: 20px;
  }
  .catalog .catalog__row .catalog__card .catalog__head {
    gap: 20px;
  }
  .catalog .catalog__row .catalog__card .catalog__head .catalog__circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .catalog .catalog__row .catalog__card .catalog__head .catalog__circle img {
    width: 50px;
  }
  .catalog .catalog__row .catalog__card .catalog__head .catalog__title {
    font-size: 16px;
    line-height: 20px; /* 100% */
    text-transform: uppercase;
  }
  .catalog .catalog__row .catalog__card .catalog__desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .catalog .catalog__row .catalog__card .catalog__link {
    margin-top: 24px;
  }
  .catalog .catalog__row .catalog__card .catalog__link a {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
  .catalog .catalog__tablet {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */